backend:
  name: git-gateway
  branch: main

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "pages"
    label: "Pages"
    files:
      - name: "privacy-policy"
        label: "Privacy Policy"
        file: "public/data/privacy-policy.json"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - label: "Sections"
            name: "sections"
            widget: "list"
            fields:
              - {label: "Title", name: "title", widget: "string"}
              - {label: "Content", name: "content", widget: "text", required: false}
              - label: "Subsections"
                name: "subsections"
                widget: "list"
                required: false
                fields:
                  - {label: "Title", name: "title", widget: "string"}
                  - {label: "Content", name: "content", widget: "text"}